#!/usr/bin/make -f
# -*- makefile -*-
export DH_VERBOSE = 1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CFLAGS_MAINT_APPEND = -Wall -pedantic -fPIE
export DEB_LDFLAGS_MAINT_APPEND = -W1,--as-needed -pie -Wl,-z,relro,-z,now

%:
	dh $@

override_dh_auto_build:
ifeq ($(DEB_BUILD_ARCH),amd64)
	@echo "Building for amd64"
	GOOS=linux GOARCH=amd64 CGO_ENABLED=1 CC=gcc go build -buildvcs=false -ldflags="-linkmode external -extldflags '-Wl,-z,relro,-z,now -pie'" -o torcontroller .
else ifeq ($(DEB_BUILD_ARCH),arm64)
	@echo "Building for arm64"
	GOOS=linux GOARCH=arm64 CGO_ENABLED=1 CC=aarch64-linux-gnu-gcc go build -buildvcs=false -ldflags="-linkmode external -extldflags '-Wl,-z,relro,-z,now -pie'" -o torcontroller .
else
	$(error Unsupported architecture: $(DEB_BUILD_ARCH))
endif

override_dh_dwz:
	:

override_dh_fixperms:
	dh_fixperms
	chmod 755 debian/torcontroller/usr/bin/torcontroller
	chmod 644 debian/torcontroller/usr/share/torcontroller/defaults/torcontroller.yml
	chmod 644 debian/torcontroller/usr/share/torcontroller/defaults/tor.service
	chmod 644 debian/torcontroller/usr/share/torcontroller/defaults/privoxy.service
	chmod 644 debian/torcontroller/usr/share/torcontroller/defaults/tor/torrc
	chmod 644 debian/torcontroller/usr/share/torcontroller/defaults/privoxy/config
	chmod 644 debian/torcontroller/usr/share/torcontroller/defaults/sudoers.d/torcontroller

override_dh_installman:
	dh_installman debian/torcontroller.1